<h2><%= link_to 'create a new article', new_article_path %></h2>
<%= will_paginate @articles %>
<table class="table">
<thead> 
    <tr>
    <th scope="col">article_id</th>
    <th scope="col">user_id</th>
    <th scope="col">title</th>
    <th scope="col">body</th>
    <th scope="col">created_at</th>
    <th scope="col">updated_at</th>
    <th scope="col">actions</th>
    </tr>
</thead>
<tbody>
    <% @articles.each do |article| %>
        <tr>
        <th scope="row"><%= article.id %></th>
        <td><%= article.user_id %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.created_at %></td>
        <td><%= article.updated_at %></td>
        <td>
        <%= link_to 'show', article_path(article) %>
        <%  if @_current_user && (@_current_user.admin || @_current_user.id == article.user_id) %>
            <%= link_to 'edit', edit_article_path(article) %>
            <%= button_to 'delete', article_path(article), method: :delete %>
        <% end %>
        </td>
        </tr>
    <% end %>
</tbody>
</table>
